.PokemonCard {
  width: 160px;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.PokemonCard h2{
  max-height: 1.25rem;
  overflow-y: hidden;
}

.PokemonCard:hover {
  cursor: pointer;
  background-color: #2f2f2f;
}

.PokemonCard.selected {
  background-color: #808080;
}

.PokemonCard-image {
  height: 85px;
  max-width: 175px;
}

.PokemonCard-name {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: .75rem;
}

.PokemonCard-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.PokemonCard-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PokemonCard-type .PokemonCard-type-image {
  width: 20px;
  height: 20px;
}

.PokemonCard-type .PokemonCard-type-text {
  font-size: 0.5rem;
}
